<mat-toolbar>
    <div class="col-2 logo">
        <mat-icon aria-hidden="false">alarm</mat-icon>
        <span class="desktop"> Calendar</span>
    </div>
    <div class="col-8 alignCmdTool">
        <mat-datepicker #picker></mat-datepicker>
        <div class="btn-group">
            <button type="button" class="btn btn-dark"
                (click)="onClickPrevious()">
                <mat-icon aria-hidden="false" class="icons">keyboard_arrow_left</mat-icon>
            </button>
            <input type="text" matInput [matDatepicker]="picker"
                id="selectedDtInput"
                class="selectedDtInput desktop"
                (dateChange)="changeDateCalendar()">

            <button type="button" class="btn btn-dark desktop"
                (click)="onClickGotoToday()" 
                matTooltip="Current month" matTooltipPosition="above"
                matTooltipHideDelay="0">
                <mat-icon aria-hidden="false" class="icons">today</mat-icon>
            </button>
            <button type="button" class="btn btn-dark showDate"
                (click)="picker.open()">
                <span class="desktop">
                    {{titleDate}}
                </span>
                <span class="mobile">
                    {{shortTitleDate}}
                </span>
            </button>
            <button type="button" class="btn btn-dark" (click)="onClickNext()">
                <mat-icon aria-hidden="false" class="icons">keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="col-2" style="text-align: right;">
        <div class="btn-group">
            <button type="button" class="btn btn-dark">
                <mat-icon aria-hidden="false">notifications_none</mat-icon>
            </button>
        </div>
    </div>
</mat-toolbar>
<app-filters></app-filters>